@charset "UTF-8";
/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Accessibility Navigation
 * 04. Layout Selector
 * 05. Components
 * 06. Entry Content
 * 07. Comment
 * 08. Aside(sidebar)
 * 09. ETC
 * 10. Option(Color Type & List Type)
 * 11. Retina Display
 * 12. Media Screen
 *
 */
/* Web Font Load */
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean");
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFStardust";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "cute";
  src: url("./images/04B_30__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
::selection {
  background: #61dbfb;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #61dbfb;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #61dbfb;
  color: #fff;
  text-shadow: none;
}

/* click effect */
.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 999999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }
  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03em;
  }
}
html,
body {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "PFStardust", "DungGeunMo", "Noto Sans KR", sans-serif;
  font-size: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a !important;
  border-image-repeat: space !important;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
  overflow: visible;
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

input,
select,
textarea,
button {
  font-size: 100%;
  border-radius: 0;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

ul li {
  list-style: none;
}

img,
fieldset {
  border: none;
  vertical-align: top;
}

hr {
  display: none;
}

a,
a:link {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #61dbfb;
}

a:active {
  text-decoration: none;
}

/* 헤더 */
.progress-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4px;
  z-index: 5;
  background: #61dbfb;
}
.progress-bar .progress {
  width: 0%;
  height: 4px;
  background-color: #a36aff;
}

.nes-btn {
  color: white !important;
  font-family: "cute";
  background-color: #a36aff;
}

.nes-btn::after {
  box-shadow: inset -6px -6px #5b339b;
}

.nes-btn:active::after {
  box-shadow: inset 4px 4px 4px 4px #5b339b;
}

#sticky-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  width: 100%;
  height: 70px;
  padding: 0 5vw;
  top: 4;
  position: -webkit-sticky;
  /* 사파리 브라우저 지원 */
  position: sticky;
  background: linear-gradient(-180deg, #1a1a1a 0%, rgba(26, 26, 26, 0.9) 50%, rgba(26, 26, 26, 0.7) 80%, rgba(26, 26, 26, 0.5) 90%, rgba(26, 26, 26, 0) 100%);
}
#sticky-menu .sidebar-btn {
  display: none;
  margin-left: 10px;
}
#sticky-menu .sidebar-btn .nes-icon .is-medium {
  margin: 0 !important;
}
#sticky-menu .right-side {
  display: flex;
}
#sticky-menu #search form {
  align-items: center;
  display: flex;
}
#sticky-menu #search .nes-input {
  height: 44px !important;
  width: 25vw;
  background-color: transparent !important;
  margin-right: 20px;
}
#sticky-menu #blog-menu ul {
  display: flex;
  font-size: 18px;
}
#sticky-menu #blog-menu ul li {
  display: flex;
  justify-content: center;
  max-width: 100px;
  margin-right: 20px;
}
#sticky-menu #blog-menu a {
  font-family: "cute";
  word-break: keep-all;
}
#sticky-menu #blog-menu a::before {
  content: "#include <";
  font-size: 15px;
  color: #a36aff;
}
#sticky-menu #blog-menu a::after {
  content: ">";
  font-size: 15px;
  color: #a36aff;
}

#header {
  padding: 2vw 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header .header-menu {
  min-height: 8vh;
  display: flex;
  align-items: center;
}
#header .header-menu span {
  margin-right: 50px;
}
#header .header-menu a {
  padding-left: 20px;
}

/* button */
.toolbar_rb {
  bottom: 88px !important;
  right: 130px !important;
}

.menu_toolbar .btn_subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 24, 0.8) !important;
  border-radius: 100% !important;
  width: 90px !important;
  height: 90px !important;
  padding: 0 !important;
}
.menu_toolbar .btn_subscription strong {
  display: none !important;
}
.menu_toolbar .btn_subscription em {
  display: none !important;
}
.menu_toolbar .btn_subscription span {
  display: none !important;
}

.up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  bottom: 25px;
  right: 30px;
}

/* 블로그 타이틀 */
#blog-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 85px;
  font-family: "cute";
  white-space: pre;
  line-height: 110%;
}

.glitch {
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
}

.glitch__main {
  color: white;
  letter-spacing: 2px;
}

.glitch__color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1;
}

.glitch__color--red {
  animation: glitch 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  color: rgba(255, 0, 0, 0.6);
}

.glitch__color--blue {
  animation: glitch 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  color: rgba(0, 0, 255, 0.6);
}

.glitch__color--green {
  animation: glitch 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  color: rgba(0, 255, 0, 0.6);
}

.glitch__line {
  animation: glitch-line 2s linear infinite;
  background: #1a1a1a;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.glitch__line--first {
  animation: glitch-line 2s linear infinite;
}

.glitch__line--second {
  animation: glitch-line 1s linear 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
  15% {
    transform: translate(-6px, 5px);
    -webkit-transform: translate(-6px, 5px);
  }
  40% {
    transform: translate(6px, 4px);
    -webkit-transform: translate(6px, 4px);
  }
  80% {
    transform: translate(-6px, 5px);
    -webkit-transform: translate(-6px, 5px);
  }
  90% {
    transform: translate(6px, 4px);
    -webkit-transform: translate(6px, 4px);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
  }
  48% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(deg, 0deg);
    -webkit-transform: skew(deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
  }
}
@keyframes glitch-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
/* 블로그 타이틀 끝 */
#container {
  display: flex;
  width: 100%;
  padding: 5vw 3vw;
}

/* content start */
#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  min-width: 320px;
}

/* content end */
/* article-list start */
.thumbnail img {
  width: 290px !important;
  height: 250px !important;
  border-radius: 5px;
  object-fit: cover !important;
  /* Do not scale the image */
  object-position: center !important;
  /* Center the image within the element */
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 930px;
}
#article-list .article {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 310px;
  padding: 10px;
}
#article-list .article .article-category {
  margin-top: 10px !important;
  color: #a36aff !important;
}
#article-list .article .article-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#article-list .article .article-text .article-title {
  font-size: 1.2rem;
}
#article-list .article .article-text .article-summary {
  margin-top: 10px;
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#article-list .article .article-text .article-date {
  color: #b1b1b1;
  font-size: 0.7rem;
}

/* article-list end */
.b-article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.b-article .b-article-text {
  display: flex;
  justify-content: space-between;
  font-family: "cute";
  font-size: 1.2em;
  padding: 10px;
}
.b-article .b-article-text .b-article-more {
  color: #a36aff;
}
.b-article .related-list {
  display: flex;
  flex-wrap: wrap;
}
.b-article .related-list .related-item {
  width: 310px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-article .related-list .related-info {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-article .related-list .related-info .related-text {
  width: 100%;
  font-size: 1.2rem;
}
.b-article .related-list .related-info .related-date {
  color: #b1b1b1;
  font-size: 0.7rem;
}

/* guest start */
#entry0Comment {
  min-width: 70vw;
}

.nes-balloon.is-dark, .nes-balloon.is-dark.from-left::before, .nes-balloon.is-dark.from-right::before, .nes-balloon.is-dark.from-left::after, .nes-balloon.is-dark.from-right::after {
  background-color: #1a1a1a;
}

.nes-balloon.is-dark {
  box-shadow: 0 0 0 8px #1a1a1a !important;
}

.nes-balloon.is-dark.from-left::before {
  box-shadow: -5px 10px 0 6px #1a1a1a;
}
.nes-balloon.is-dark.from-left::after {
  box-shadow: -4px 0, 4px 0, -4px 4px #1a1a1a, 0 4px, -8px 4px, -4px 8px, -8px 8px;
}

.nes-balloon.is-dark.from-right::before {
  box-shadow: 5px 10px 0 6px #1a1a1a;
}
.nes-balloon.is-dark.from-right::after {
  box-shadow: -4px 0, 4px 0, 4px 4px #1a1a1a, 0 4px, 8px 4px, 4px 8px, 8px 8px;
}

.comment-container {
  max-width: 1100px;
  width: 100%;
}
.comment-container .comment-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment-container li {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.comment-container .nes-balloon {
  width: 80%;
}
.comment-container .reply-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.comment-container .reply-content .user-info {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.comment-container .reply-content .user-info .user-name {
  font-size: 1.2rem;
}
.comment-container .reply-content .user-info .user-logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}
.comment-container .reply-content .user-info .comment-date {
  color: #b1b1b1;
  font-size: 0.7rem;
}
.comment-container .comment-edit {
  padding: 0 10px 10px 10px;
}
.comment-container .comment-edit a {
  font-family: "cute";
}
.comment-container .re-reply {
  align-items: flex-end;
}
.comment-container .re-reply .reply-content {
  justify-content: flex-end;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guest .guest-title {
  font-family: "cute";
}
.guest div, .guest p {
  background-color: #1a1a1a !important;
}
.guest form {
  max-width: 1100px;
  width: 100%;
}
.guest .guest-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 35px 0;
}
.guest .guest-textarea textarea {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  resize: none;
}
.guest .guest-textarea .guest-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.guest .guest-textarea .guest-form .guest-inputs {
  display: flex;
  align-items: flex-end;
}
.guest .guest-textarea .guest-form .guest-inputs input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  margin-right: 20px;
}
.guest .guest-textarea .guest-form .guest-secret {
  display: flex;
  align-items: flex-end;
}
.guest .guest-textarea .guest-form .guest-secret label {
  margin-right: 20px;
}

/* guest end */
/* 게시글 상세항목 start*/
.item-detail .item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.item-detail .item-text .item-category {
  font-size: 20px;
}
.item-detail .item-text .item-title {
  max-width: 800px;
  word-break: keep-all;
  word-wrap: break-word;
}

.tag_sns {
  display: flex;
  justify-content: space-between;
}

.article-sns {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 35px 10px;
}
.article-sns .article-sns-tit {
  font-family: "cute";
  font-size: 1.2em;
  padding-bottom: 10px;
}
.article-sns .detail_sns {
  display: flex;
}
.article-sns .detail_sns a {
  margin-right: 10px;
}

.article-tag {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 35px 10px;
}
.article-tag .article-tag-tit {
  font-family: "cute";
  font-size: 1.2em;
  padding-bottom: 10px;
}
.article-tag .article-tag-list {
  display: flex;
}

.article-tag-item {
  visibility: hidden;
}
.article-tag-item a {
  visibility: visible;
}
.article-tag-item a::before {
  content: "#";
  padding-right: 5px;
  color: #61dbfb;
}

/* 게시글 상세항목 end*/
/* 검색결과 start */
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-tit {
  text-align: center;
}

.list-num {
  text-align: center;
}

.paging {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "cute";
}
.paging .selected {
  color: #61dbfb;
}

.prev {
  padding: 0 15px;
}

.next {
  padding: 0 15px;
}

/* 검색결과 end */
.nes-pointer {
  display: none;
}

/* aside start */
.nes-icon.close::before {
  color: #d8d8d8 !important;
}

#aside-close-btn {
  width: 100%;
  justify-content: flex-end;
  display: none;
  margin-bottom: 30px;
  margin-right: 30px;
}

.aside-mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  top: 0;
  right: 0;
}

#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-left: 15px;
  /* 카테고리 리스트 */
  /* 공지사항 */
  /* 프로필 */
  /* 태그 */
  /* 달력 */
}
#aside #search {
  width: 220px;
  display: none;
}
#aside #category {
  min-width: 220px;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  font-size: 20px;
}
#aside #category .link_tit {
  font-weight: bold;
  color: #a36aff !important;
}
#aside #category .link_item {
  font-weight: bold;
}
#aside #category .link_sub_item {
  display: flex;
  align-items: center;
  font-size: 17px;
}
#aside #category .link_sub_item a {
  color: #b1b1b1 !important;
}
#aside #category .link_sub_item::before {
  background-image: url("./images/cloud.png");
  background-size: 40px 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  content: "";
}
#aside #notice a {
  font-weight: bold;
}
#aside .profile {
  margin-top: 30px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#aside .profile #blogger {
  margin-top: 10px;
  font-size: 25px;
  color: #61dbfb;
}
#aside .profile #desc {
  display: flex;
  margin-top: 10px;
  font-size: 15px;
}
#aside .profile .title {
  margin-top: -50px !important;
}
#aside .profile .nes-container {
  width: 250px;
}
#aside .profile .nes-container img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}
#aside #tags {
  display: flex;
  flex-direction: column;
}
#aside #tags a::before {
  content: "#";
  padding-right: 5px;
  color: #61dbfb;
  font-size: 1.1em;
}
#aside .nes-container {
  margin-bottom: 30px !important;
  min-height: 250px;
}
#aside .nes-container a img {
  display: none;
}
#aside .nes-container .rep-title {
  font-weight: bold;
}
#aside .nes-container .date {
  font-size: 13px;
}
#aside #sidebar-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#aside div, #aside p {
  background-color: #1a1a1a !important;
}
#aside .title {
  letter-spacing: 3px;
  font-family: "cute", "PFStardust", "DungGeunMo";
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem !important;
  color: #61dbfb !important;
  line-height: 1.5rem !important;
}
#aside .social-channel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
#aside .social-channel .social-channel-title {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
#aside .social-channel span {
  text-align: center;
  font-size: 22px;
  font-family: "cute", "PFStardust";
}
#aside .social-channel-content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10px;
}
#aside .social-channel-content div {
  margin-right: 20px;
  margin-top: 10px;
}
#aside .calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#aside .calendar .month_calendar {
  display: flex;
  width: 90%;
  text-align: center;
  margin: 50px 0;
}
#aside .calendar .cal_month {
  text-align: center;
}

.visitor {
  font-family: "cute" !important;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visitor .kirby-talking {
  display: flex;
  align-items: flex-end;
}
.visitor span {
  font-family: "cute" !important;
  /* font-family: "DungGeunMo"; */
  color: #000;
  font-size: 1rem;
  /* font-weight: bold; */
  width: 50%;
  padding: 6px 14px;
}
.visitor .list-visit {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  margin: 20px 0;
}
.visitor .list-visitor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.visitor .list-visitor-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}
.visitor .list-visitor-count {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

@keyframes kirbyMoving {}
/* aside end */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

@media only screen and (max-width: 1290px) {
  .sidebar-btn {
    display: flex !important;
  }

  .menu_toolbar {
    display: flex !important;
  }

  #aside {
    padding: 50px 0;
    width: 270px;
    background-color: #1a1a1a;
    position: fixed;
    top: 0px;
    height: 100%;
    right: -270px;
    z-index: 10;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
  }

  .open {
    right: 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100 !important;
  }

  #aside-close-btn {
    display: flex !important;
  }
}
@media screen and (max-width: 1024px) {
  .thumbnail img {
    width: 240px !important;
    height: 180px !important;
  }

  #article-list {
    max-width: 780px !important;
  }

  .related-item {
    width: 260px !important;
  }

  .article {
    width: 260px !important;
  }

  /* 사이드바 숨김 */
  #aside {
    padding: 50px 0;
    width: 270px;
    background-color: #1a1a1a;
    position: fixed;
    top: 0px;
    height: 100%;
    right: -270px;
    z-index: 10;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
  }

  .open {
    right: 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100 !important;
  }

  #aside-close-btn {
    display: flex !important;
  }

  /* 블로그 타이틀 */
  #blog-title {
    font-size: 8vw;
  }

  #header .header-menu {
    font-size: 15px;
  }
  #header .header-menu span {
    margin-right: 20px;
  }

  #blog-menu li {
    max-width: 80px !important;
    font-size: 15px;
  }
  #blog-menu li a {
    margin-right: 7px;
  }
  #blog-menu li a::before, #blog-menu li a::after {
    font-size: 13px;
  }
}
@media screen and (max-width: 830px) {
  .thumbnail img {
    width: 210px !important;
    height: 150px !important;
  }

  #article-list {
    max-width: 690px !important;
  }

  .related-item {
    width: 230px !important;
  }

  .article {
    width: 230px !important;
  }

  /* 사이드바 숨김 */
  #aside {
    padding: 50px 0;
    width: 270px;
    background-color: #1a1a1a;
    position: fixed;
    top: 0px;
    height: 100%;
    right: -270px;
    z-index: 10;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
  }

  .open {
    right: 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100 !important;
  }

  #aside-close-btn {
    display: flex !important;
  }

  /* 블로글 타이틀 */
  #blog-title {
    font-size: 8vw;
  }

  #header .header-menu {
    font-size: 13px;
  }
  #header .header-menu span {
    margin-right: 20px;
  }

  #sticky-menu #blog-menu li {
    max-width: 80px !important;
    font-size: 15px;
  }
  #sticky-menu #blog-menu li a {
    margin-right: 7px;
  }
  #sticky-menu #blog-menu li a::before, #sticky-menu #blog-menu li a::after {
    font-size: 12px;
  }
  #sticky-menu #search {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  #article-list {
    max-width: 460px !important;
  }
}
@media screen and (max-width: 480px) {
  .thumbnail img {
    width: 160px !important;
    height: 130px !important;
  }

  #article-list {
    max-width: 360px !important;
  }

  .related-item {
    width: 180px !important;
  }

  .article {
    width: 180px !important;
  }

  /* 사이드바 숨김 */
  #aside {
    padding: 50px 0;
    width: 270px;
    background-color: #1a1a1a;
    position: fixed;
    top: 0px;
    height: 100%;
    right: -270px;
    z-index: 10;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
  }

  .open {
    right: 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100 !important;
  }

  #aside-close-btn {
    display: flex !important;
  }

  /* 블로그 타이틀 */
  #blog-title {
    font-size: 7vw;
  }

  #header .header-menu {
    font-size: 10px;
  }
  #header .header-menu span {
    margin-right: 20px;
  }

  #sticky-menu #search {
    display: none;
  }
  #sticky-menu #blog-menu li {
    font-size: 12px;
    max-width: 60px !important;
  }
  #sticky-menu #blog-menu li a {
    margin-right: 7px;
  }
  #sticky-menu #blog-menu li a::before, #sticky-menu #blog-menu li a::after {
    font-size: 9px;
  }
}

/*# sourceMappingURL=style.css.map */
