@charset "UTF-8";
/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Accessibility Navigation
 * 04. Layout Selector
 * 05. Components
 * 06. Entry Content
 * 07. Comment
 * 08. Aside(sidebar)
 * 09. ETC
 * 10. Option(Color Type & List Type)
 * 11. Retina Display
 * 12. Media Screen
 *
 */
/* Web Font Load */
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFStardust";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "cute";
  src: url("./images/04B_30__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pixel";
  src: url("./images/pixel-art-struct.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
html,
body {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "PFStardust", "DungGeunMo", "Noto Sans KR", sans-serif;
  font-size: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a !important;
  border-image-repeat: space !important;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
  overflow: visible;
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

input,
select,
textarea,
button {
  font-size: 100%;
  border-radius: 0;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

ul li {
  list-style: none;
}

img,
fieldset {
  border: none;
  vertical-align: top;
}

hr {
  display: none;
}

a,
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #61dbfb;
}

a:active {
  text-decoration: none;
}

/* 헤더 */
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header .header-menu {
  min-height: 8vh;
  display: flex;
  align-items: center;
}
#header .header-menu span {
  margin-right: 50px;
}
#header #profile {
  display: flex;
}

/* 블로그 타이틀 */
#blog-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 85px;
  font-family: "cute";
  white-space: pre;
  line-height: 110%;
}

.glitch {
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
}

.glitch__main {
  color: white;
  letter-spacing: 2px;
}

.glitch__color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1;
}

.glitch__color--red {
  animation: glitch 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  color: rgba(255, 0, 0, 0.6);
}

.glitch__color--blue {
  animation: glitch 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  color: rgba(0, 0, 255, 0.6);
}

.glitch__color--green {
  animation: glitch 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  color: rgba(0, 255, 0, 0.6);
}

.glitch__line {
  animation: glitch-line 2s linear infinite;
  background: #1a1a1a;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.glitch__line--first {
  animation: glitch-line 2s linear infinite;
}

.glitch__line--second {
  animation: glitch-line 1s linear 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
  15% {
    transform: translate(-6px, 5px);
    -webkit-transform: translate(-6px, 5px);
  }
  40% {
    transform: translate(6px, 4px);
    -webkit-transform: translate(6px, 4px);
  }
  80% {
    transform: translate(-6px, 5px);
    -webkit-transform: translate(-6px, 5px);
  }
  90% {
    transform: translate(6px, 4px);
    -webkit-transform: translate(6px, 4px);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
  }
  48% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(deg, 0deg);
    -webkit-transform: skew(deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
  }
}
@keyframes glitch-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
/* 블로그 타이틀 끝 */
#container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 5vw;
}

#search {
  display: flex;
  width: 80%;
}

#search,
.nes-input {
  background-color: transparent !important;
  margin-right: 10px;
}

#search .nes-btn.is-primary {
  font-size: 25px;
  color: white !important;
  letter-spacing: 3px;
  font-weight: 800;
  font-weight: bold;
  background-color: #f8afff;
}

#search .nes-btn.is-primary::after {
  box-shadow: inset -6px -6px #ff90f9;
}

#search .nes-btn.is-primary:active::after {
  box-shadow: inset 4px 4px 4px 4px #ff90f9;
}

#main-button {
  display: none;
}

.nes-pointer {
  display: none;
}

/* aside start */
#aside-close-btn {
  display: none;
}

.nes-icon.close::before {
  color: white !important;
}

#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5vw;
  width: 270px;
  /* 카테고리 리스트 */
  /* 공지사항 */
  /* 프로필 */
  /* 태그 */
  /* 달력 */
}
#aside #category {
  min-width: 220px;
  display: flex;
  flex-direction: column;
}
#aside #notice a {
  font-weight: bold;
}
#aside .profile {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#aside .profile img {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  box-shadow: 5px 5px 5px 5px black;
}
#aside .profile .blogger {
  margin-top: 10px;
  font-size: 25px;
}
#aside .profile .desc {
  margin-top: 10px;
  font-size: 20px;
}
#aside #tags {
  display: flex;
  flex-direction: column;
}
#aside #tags a::before {
  content: "#";
  padding-right: 5px;
  color: #61dbfb;
  font-size: 1.1em;
}
#aside .nes-container {
  margin-bottom: 30px !important;
  min-height: 250px;
}
#aside .nes-container img {
  display: none;
}
#aside .nes-container .rep-title {
  font-weight: bold;
}
#aside .nes-container .date {
  font-size: 13px;
}
#aside #sidebar-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#aside div, #aside p {
  background-color: #1a1a1a !important;
}
#aside .title {
  letter-spacing: 3px;
  font-family: "cute", "PFStardust";
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem !important;
  color: #61dbfb !important;
  line-height: 1.5rem !important;
}
#aside .social-channel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
#aside .social-channel .social-channel-title {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
#aside .social-channel span {
  text-align: center;
  font-size: 22px;
}
#aside .social-channel-content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10px;
}
#aside .social-channel-content div {
  margin-right: 20px;
  margin-top: 10px;
}
#aside .calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#aside .calendar .month_calendar {
  display: flex;
  width: 90%;
  text-align: center;
  margin: 50px 0;
}
#aside .calendar .cal_month {
  text-align: center;
}

.visitor {
  font-family: "cute" !important;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visitor .kirby-talking {
  display: flex;
  align-items: flex-end;
}
.visitor span {
  font-family: "cute" !important;
  /* font-family: "DungGeunMo"; */
  color: #000;
  font-size: 1rem;
  /* font-weight: bold; */
  width: 50%;
  padding: 6px 14px;
}
.visitor .list-visit {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  margin: 20px 0;
}
.visitor .list-visitor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.visitor .list-visitor-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}
.visitor .list-visitor-count {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

@keyframes kirbyMoving {}
/* aside end */
/* content start */
.article-main {
  color: white;
}

/* content end*/
.list-item {
  display: flex;
}

/* category start */
/* .category-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

} */
/* .categories-title {
  font-size: 20px;
}
.category_list {
  margin: 10px 10px;
}
.sub_category_list {
  margin-left: 10px;
}
.sub_category_list li::before {
  content: "";
} */
.link_tit {
  display: none;
}

.sticky-header {
  z-index: 5;
  width: 100%;
  position: -webkit-sticky;
  /* 사파리 브라우저 지원 */
  position: sticky;
  top: 0;
  display: flex;
  background: linear-gradient(#1a1a1a, rgba(26, 26, 26, 0)) !important;
  justify-content: center;
  padding: 30px 0;
}

/* category end */
@media screen and (max-width: 1024px) {
  /* 사이드바 숨김 */
  #aside {
    visibility: hidden;
    width: 0%;
  }

  /* 블로그 타이틀 */
  #blog-title {
    font-size: 8vw;
  }

  #header .header-menu {
    font-size: 15px;
  }
  #header .header-menu span {
    margin-right: 20px;
  }

  #main-btn {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
  }
  #main-btn p {
    font-size: 1.3vw;
    font-family: "cute" !important;
    color: #61dbfb;
  }
  #main-btn .nes-balloon {
    padding: 0.5em 1em;
  }
  #main-btn .nes-balloon.from-right::before, #main-btn .nes-balloon.from-right::after {
    right: 10vw;
  }
  #main-btn .nes-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* 사이드바 숨김 */
  #aside {
    width: 0%;
    visibility: hidden;
  }

  /* 블로글 타이틀 */
  #blog-title {
    font-size: 8vw;
  }

  #header .header-menu {
    font-size: 13px;
  }
  #header .header-menu span {
    margin-right: 20px;
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@media screen and (max-width: 480px) {
  /* 사이드바 숨김 */
  #aside {
    width: 0%;
    visibility: hidden;
  }

  /* 블로그 타이틀 */
  #blog-title {
    font-size: 8vw;
  }

  #header .header-menu {
    font-size: 10px;
  }
  #header .header-menu span {
    margin-right: 20px;
  }

  #main-btn .nes-balloon, #main-btn .nes-octocat {
    display: none;
  }
  #main-btn .nes-icon {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
